body {
    margin: 0;
    font-size: 2vw;
    color:#fcfcfe;
  }
.maindiv1{
  margin-left:25%;
  padding:1px 16px;
  width: auto;
  height:auto;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  }
  .BG1{
    background-image:url(index_img/BG1.jpg);
  }
  .BG2{
    background-image:url(BG2.jpg); 
  }
  
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    background-color: #111;
  }
  
  .navbar a {
    color: white;
    padding: 2vw 3.5vw;
    overflow: hidden;
    text-decoration: none;
    /*margin: auto;*/
    text-align: center;
    border-left: solid white 1px;
  }
  
  .navbar a:hover:not(.active),  .nav li a:hover:not(.active) {
    background-color: #555;
    color: #E41B18;
  }

  .active {
    background-color: #2554c7;
    padding-left: 10vw;
  }

  .li1 li{
      padding: 3px;
  }
  
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25vw;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid white 1px;
  }
  
  .nav li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
.goal{
  width: 100%;
  height: auto;
}

#COF img, #COF p{
  display: block;
}
#COF img{
  width: 50%;
  height: auto;
  float: right;
}

#history img{
  float: right;
  width: 30%;
  height: auto;
}

#history .medimg{
  width: 50%;
}
#history .Banimg{
  width: 40%;
}

img#AVimg{
  width: 100%;
    float: none;
}

.teams{
  display: flex;
flex-wrap: wrap;
align-items: flex-end;
}
.teams>div{
margin: 5px;
width: 30%;
height: auto;
text-align:center;
border: blanchedalmond 1px solid;
}
.teams img{
  width: 80%;
  height: auto;
  background: none;

}

.teamdisc1{
  background-color: #f61717ca;
  margin:0px ;
}
.teamdisc2{
  background-color: #8c2419ca;
  margin:0px ;
}
.teamdisc3{
  background-color: #0054a6ca;
  margin:0px ;
}

.teamdisc4{
  background-color: #81204cca;
  margin:0px ;
}

.teamdisc5{
  background-color: #001489ca;
  margin:0px ;
}

.teamdisc6{
  background-color: #0055a595;
  margin:0px ;
}

.teamdisc7{
  background-color: #00369cca;
  margin:0px ;
}

.teamdisc8{
  background-color: #ffffffca;
  color: #000;
  margin:0px ;
}

.teamdisc9{
  background-color: #AC944Dca;
  color: #1d4189;
  margin:0px ;
}

.teamdisc10{
  background-color: #0b56a4ca;
  color: #000;
  margin:0px ;
}

.teamdisc11{
  background-color: #e31b23ca;
  margin:0px ;
}

.teamdisc12{
  background-color: #98c5e9ca;
  margin:0px ;
}

.teamdisc13{
  background-color: #c70101ca;
  margin:0px ;
}

.teamdisc14{
  background-color: #231f20ca;
  margin:0px ;
}

.teamdisc15{
  background-color: #e30613ca;
  margin:0px ;
}
.teamdisc16{
  background-color: #1f1f1fca;
  margin:0px ;
}
.teamdisc17{
  background-color: #ffffffca;
  color: #000;
  margin:0px ;
}

.teamdisc18{
  background-color: #002f68ca;
  color: #000;
  margin:0px ;
}

.teamdisc19{
  background-color: #66192cca;
  margin:0px ;
}

.teamdisc20{
  background-color: #fdb913ca	;
  margin:0px ;
}

